### Final Project: Online News Popularity Prediction

Team members: Alice Hua - Haley Farber - Derrick Xiong <br>
Class: W207-Applied Machine Learning <br>


Citations: <br>
 - UCI Machine Learning Repo: https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6 
 - Mobility data: https://www.google.com/covid19/mobility/data_documentation.html
 - Demographics data: https://www.un.org/en/development/desa/population/publications/database/index.asp

### Step 1: Import packages

In [18]:
import pandas as pd
import numpy as np
import pandas_profiling
import seaborn as sns

# exploratory analysis
import matplotlib.pyplot as plt
import mlxtend  #(pip install mlxtend)
from mlxtend.plotting import scatterplotmatrix
from mlxtend.plotting import heatmap
import seaborn as sns

# data preprocessing
from sklearn import preprocessing

# model fit
import statsmodels.api as sm

### Step 2: Define working directories

In [3]:
in_dir = 'C:/Users/alice/OneDrive/Schools/Berkeley/Cal_Fall_2020_grad/W207/w207-fall-2020-project-final-alicehua11/W207_ML_finalproject'
out_dir = 'C:/Users/aliceOneDrive/Schools/Berkeley/Cal_Fall_2020_grad/W207/w207-fall-2020-project-final-alicehua11/W207_ML_finalproject'

In [4]:
a = [4,6,7]

In [8]:
a[-2:]

[6, 7]

In [30]:
df = pd.read_csv("Draft_Features.csv", index_col=0)
df = df.reset_index().sort_index()
df.head()
# df = df.drop(['index'], axis=1)

,link,title,text,view,Business,Innovation,Leadership,Lifestyle,Money,Apr,...,kw_min_min,kw_min_max,kw_min_avg,kw_max_min,kw_max_max,kw_max_avg,kw_avg_min,kw_avg_max,kw_avg_avg,num_keywords
0,https://www.forbes.com/sites/billybambrough/20...,"$50 Billion Crash—What Next For Bitcoin, Ether...","Bitcoin, ethereum, Ripple\s XRP, bitcoin cash,...","47,503",0,0,0,0,1,0,...,33,47503,6488.307692,33,11524072,1.054754e+06,42,237612,31919.200000,316
1,https://www.forbes.com/sites/abigailabesamis/2...,12 Bakers Share What They’re Whipping Up Durin...,Sourdough loaves (plus creative uses for disca...,"2,826",0,0,0,1,0,0,...,60,2826,964.800000,30,12490200,2.410277e+05,2826,7753,5289.500000,1069
2,https://www.forbes.com/sites/abigailabesamis/2...,15 Chefs Share What They’re Cooking During The...,In addition to offering delivery and curbside ...,"4,064",0,0,0,1,0,1,...,137,4064,1256.714286,84,8418600,1.962197e+05,72,72934,7639.500000,1137
3,https://www.forbes.com/sites/abigailabesamis/2...,16 Bartenders Share What They’re Drinking Duri...,"Classic cocktails with just a few ingredients,...","2,437",0,0,0,1,0,1,...,50,2437,891.000000,310,689138,1.467900e+05,266,14637,4823.428571,1363
4,https://www.forbes.com/sites/kyleedward/2020/1...,2021 Genesis GV80 First Drive: The Flagship SU...,Hyundai\s luxury brand Genesis has had a stron...,"4,264",0,0,0,1,0,0,...,738,4264,1983.333333,30,12490200,1.234535e+05,532,26386,8616.900000,455

In [31]:
df.columns

Index(['link', 'title', 'text', 'view', 'Business', 'Innovation', 'Leadership',
       'Lifestyle', 'Money', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun',
       'Mar', 'May', 'Nov', 'Oct', 'Sep', 'n_tokens_title:',
       'n_tokens_content', 'n_unique_tokens', 'average_token_length',
       'n_non_stop_words', 'n_non_stop_unique_tokens', 'friday', 'monday',
       'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday', 'weekday',
       'weekend', 'global_sentiment_polarity', 'global_subjectivity',
       'title_sentiment_polarity', 'abs_title_sentiment_polarity',
       'title_subjectivity', 'abs_title_subjectivity',
       'global_rate_positive_words', 'global_rate_negative_words',
       'rate_positive_words', 'rate_negative_words', 'avg_positive_polarity',
       'min_positive_polarity', 'max_positive_polarity',
       'avg_negative_polarity', 'min_negative_polarity',
       'max_negative_polarity', 'LDA_00', 'LDA_01', 'LDA_02', 'LDA_03',
       'LDA_04', 'timedelta', 'kw_min_min', 'kw_min_max', 'kw_min_avg',
       'kw_max_min', 'kw_max_max', 'kw_max_avg', 'kw_avg_min', 'kw_avg_max',
       'kw_avg_avg', 'num_keywords'],
      dtype='object')

In [ ]:
df.replace('', np.nan, inplace=True)

# select features for summary stats
profile = pandas_profiling.ProfileReport(df[['link', 'title', 'text', 'view', 'Business', 'Innovation', 'Leadership',
       'Lifestyle', 'Money', 'Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun',
       'Mar', 'May', 'Nov', 'Oct', 'Sep', 'n_tokens_title:',
       'n_tokens_content', 'n_unique_tokens', 'average_token_length',
       'n_non_stop_words', 'n_non_stop_unique_tokens', 'friday', 'monday',
       'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday', 'weekday',
       'weekend', 'global_sentiment_polarity', 'global_subjectivity',
       'title_sentiment_polarity', 'abs_title_sentiment_polarity',
       'title_subjectivity', 'abs_title_subjectivity',
       'global_rate_positive_words', 'global_rate_negative_words',
       'rate_positive_words', 'rate_negative_words', 'avg_positive_polarity',
       'min_positive_polarity', 'max_positive_polarity',
       'avg_negative_polarity', 'min_negative_polarity',
       'max_negative_polarity', 'LDA_00', 'LDA_01', 'LDA_02', 'LDA_03',
       'LDA_04', 'timedelta', 'kw_min_min', 'kw_min_max', 'kw_min_avg',
       'kw_max_min', 'kw_max_max', 'kw_max_avg', 'kw_avg_min', 'kw_avg_max',
       'kw_avg_avg', 'num_keywords']]) 
profile.to_notebook_iframe()

Summarize dataset:  88%|████████████████████████████    | 72/82 [00:01<00:00, 51.73it/s, Calculate kendall correlation]